@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@1,500&display=swap');

@media screen and (max-width: 1600mpx){
    div{
        float:left;
        
    }
}

    .imagem_pequena{
        width: 350px;
        height: 275px;
        float: left;
        padding: 2% 2%;
        border-radius: 37px;
    }
    
    .borda{
        display: inline-block;
        width: auto;
        height: 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);   
        margin-left: auto;
        margin-right: auto;  
        background-color: #3F2BD1;
    }
    

 
    }
    
    .texto_pequeno{
        padding: 2% 2%;
    }




@media screen and (max-width: 600px){
    
    .descricao{
        font-size: 18px; 
    }

    .nav_links{
        display: none;
    }

    .imagem_pequena{
        width: 321.5px;
        padding: 2% 2%;
        border-radius: 30px;
    }
    
    .borda{
        width: 335px;
        height: 600px;
        border-radius: 30px;
        margin-left: auto; 
        margin-right: auto;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);     
    }

      
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color:black ;
        font-size: 20px;
    }
    }
}

@media screen and (max-width: 400px){
    .imagem_pequena{
        width: 320px;
        height: 230px;
        padding: 3% 2%;
        border-radius: 30px;
        
        display: flex;
        margin-left: 3px
    }
    
    .nav_links{
        display: none;
    }
    

    .borda{
        width: 340px;
        height: 550px;
        margin-left: auto; 
        margin-right: auto;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);    
    }

   
    
  
    p{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color:black ;
        font-size: 20px;
    }

    

   


}


body, html{
    height: 3500px;
    margin: 0;
    background-color:#181409;
    scroll-behavior: smooth;
}





header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding: 20px 3%;
    position:static;
    top: 0;
}


li, a, button, p{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #edf0f1;
    font-size: 16px;
}

li{
    text-shadow: black 0.2em 0.2em 0.3em;
}

button {
    padding: 8px 25px;
    border-radius: 50px;
    margin-bottom: 3%;
    border: none;
    border-color: transparent;
    background-color: #013c66;
    cursor: pointer;
}

button:hover{
    background-color: #327baf;
    transition: 0.3s ease 0s;
}

li:hover{
    text-shadow: #023c64 0.2em 0.2em 0.3em;
    transition: 0.3s ease 0s;
}

h1, h2, h5, h4{
    font-family: 'Poppins', sans-serif;
    color: #edf0f1;
}


body::-webkit-scrollbar{
    width: 7px;
    background-color:#181409;
}

body::-webkit-scrollbar-track{
    background:none;
}

body::-webkit-scrollbar-thumb{
    background-color: #edf0f1;
    border-radius: 25px;
}

.down{
    position:relative;
    padding-left: 48%;
}

.borda_geral{
    border-radius: 30px;
    border: solid;
    height: 500px; 
    width: 1280px;
    background-color: #1C1D86;

}
label{
    font-family: 'Poppins', sans-serif;
    color: #edf0f1;
}
.selecionar_biomas{
    border: transparent;
    border-right: solid;

    margin-left: 10px;
    height: 30px;
    margin-right: 30px;
    font-family:Verdana, Trebuchet,sans-serif;
    background-color: #BEBEBE;
}
.borda_selecionar{
    border: solid;
    border-color: grey;
    height: 25px;
    margin-right: 30px;
    margin-left: 20px;
}
select{
    font-size: 18px;
    font-family: Verdana, Trebuchet,sans-serif;;
}
option{
     font-family:Verdana, Trebuchet,sans-serif;
     font-size: 18px;
}
#pai div{
    display: nne;
}
#select
